<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dswsapp00">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dsws"
        android:label="DSWS Disaster Response Assistant"
        android:roundIcon="@mipmap/dsws_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Assistances"></activity>
        <activity android:name=".Response" />
        <activity android:name=".ExistingData" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".Login" />
        <activity android:name=".Home" />
        <activity android:name=".Update" />
        <activity android:name=".Scanner" />
        <activity android:name=".Register" />
        <activity android:name=".Register2" />
        <activity android:name=".Gdata" />
        <activity android:name=".Create" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>